/.idea/
input/*
output/*
history
intermediate_file/*
data/*
Encrypt&Decrypt/*.dsm
Encrypt&Decrypt/*.xp3
Encrypt&Decrypt/*.txt
baidufanyi_my.py
tencentfanyi.py
tencentfanyi.py2
silky_text
silky_chs
__pycache__
test.cpp
test.exe
translate.ipynb
font
*.EXE
*.med
*.pak
*.rpgsave
\[*
chs
*.zip
data
# .vscode/settings.json